@font-face{
    font-family: 'Product Sans';
    font-weight: normal;
    font-style: normal;
    src: url(./google-sans-cufonfonts/ProductSans-Regular.ttf);
}

@font-face{
    font-family: 'Product Sans';
    font-weight: normal;
    font-style: italic;
    src: url(./google-sans-cufonfonts/ProductSans-Italic.ttf);
}

@font-face{
    font-family: 'Product Sans';
    font-weight: lighter;
    font-style: normal;
    src: url(./google-sans-cufonfonts/ProductSans-Thin.ttf);
}

@font-face{
    font-family: 'Product Sans';
    font-weight: lighter;
    font-style: italic;
    src: url(./google-sans-cufonfonts/ProductSans-ThinItalic.ttf);
}

@font-face{
    font-family: 'Product Sans';
    font-weight: bold;
    font-style: normal;
    src: url(./google-sans-cufonfonts/ProductSans-Bold.ttf);
}

@font-face{
    font-family: 'Product Sans';
    font-weight: bold;
    font-style: italic;
    src: url(./google-sans-cufonfonts/ProductSans-BoldItalic.ttf);
}

@font-face{
    font-family: 'Product Sans';
    font-weight: bolder;
    font-style: normal;
    src: url(./google-sans-cufonfonts/ProductSans-Black.ttf);
}

@font-face{
    font-family: 'Product Sans';
    font-weight: bolder;
    font-style: italic;
    src: url(./google-sans-cufonfonts/ProductSans-BlackItalic.ttf);
}