$primary: #26205C;
$secondary: #0A27F6;
$primary50: #928FAD;
$grey: #838383;
$bgColor: #F5F6FA;
$bluegrey: #928FAD;


$headerHeight: 60px;
$mb_sectionTitle: 100px;
$mb: 130px;
$contentMaxWidth: 90%;
$containerMaxWidth: 1300px;