*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button:active, button:focus, input[type=submit]:active, input[type=submit]:focus,
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

/*
 * See: https://fonts.google.com/license/googlerestricted
 */
/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxifypQkot1TnFhsFMOfGShVEu_vWEpkr1ap.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxifypQkot1TnFhsFMOfGShVEu_vWE1kr1ap.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxifypQkot1TnFhsFMOfGShVEu_vWEBkr1ap.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxifypQkot1TnFhsFMOfGShVEu_vWE5krw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu8nSllHimuQpw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu8nSllAimuQpw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu8nSllNimuQpw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu8nSllDims.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxidypQkot1TnFhsFMOfGShVEueIaEx8qw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxidypQkot1TnFhsFMOfGShVEuePaEx8qw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxidypQkot1TnFhsFMOfGShVEueCaEx8qw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxidypQkot1TnFhsFMOfGShVEueMaEw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu9_S1lHimuQpw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu9_S1lAimuQpw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu9_S1lNimuQpw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu9_S1lDims.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu83TVlHimuQpw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu83TVlAimuQpw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu83TVlNimuQpw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu83TVlDims.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu8PT1lHimuQpw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu8PT1lAimuQpw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu8PT1lNimuQpw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu8PT1lDims.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxidypQkot1TnFhsFMOfGShddOeIaEx8qw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxidypQkot1TnFhsFMOfGShddOePaEx8qw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxidypQkot1TnFhsFMOfGShddOeCaEx8qw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxidypQkot1TnFhsFMOfGShddOeMaEw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdvPWbS2lBkm8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdvPWbTGlBkm8.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdvPWbQWlBkm8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdvPWbT2lB.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxiDypQkot1TnFhsFMOfGShVE9eOcEg.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxiDypQkot1TnFhsFMOfGShVFNeOcEg.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxiDypQkot1TnFhsFMOfGShVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxiDypQkot1TnFhsFMOfGShVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShd5PSbS2lBkm8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShd5PSbTGlBkm8.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShd5PSbQWlBkm8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShd5PSbT2lB.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdrPKbS2lBkm8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdrPKbTGlBkm8.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdrPKbQWlBkm8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdrPKbT2lB.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdlPCbS2lBkm8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdlPCbTGlBkm8.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdlPCbQWlBkm8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdlPCbT2lB.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Product Sans';
}

body .primaryButton, body .secondaryButton, body .tertiaryButton, #BannerSection #BannerLeft a {
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}

body .primaryButton {
  background-color: #0A27F6;
  color: white;
}

body .secondaryButton {
  background-color: transparent;
  color: #0A27F6;
  border: 1px solid #0A27F6;
}

body .tertiaryButton {
  background-color: transparent;
  color: #0A27F6;
}

#BannerSection #BannerRight, #Contact #ContactGrid #ContactRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #F5F6FA;
  letter-spacing: 0.1px;
}

body * {
  color: #26205C;
}

body h2 {
  font-size: 30px;
}

body .container {
  max-width: 1300px;
  width: 90%;
  margin: auto;
}

body .sectionTitle {
  text-align: center;
  margin-bottom: 100px;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: white;
  -webkit-box-shadow: 0 2px 19px rgba(131, 131, 131, 0.4);
          box-shadow: 0 2px 19px rgba(131, 131, 131, 0.4);
  z-index: 50;
}

header #headerRight a {
  float: right;
  margin-left: 20px;
  width: 150px;
  height: 40px;
  line-height: 40px;
}

header #headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #headerLeft li {
  display: inline;
  color: #26205C;
}

header #headerLeft * {
  margin-right: 20px;
}

header #headerLeft img {
  margin-right: 40px;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

#BannerSection {
  padding: 100px 0 70px;
}

#BannerSection .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#BannerSection #BannerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#BannerSection #BannerLeft h2 {
  margin-bottom: 80px;
}

#BannerSection #BannerLeft .h1Text {
  font-size: 48px;
  margin-bottom: 30px;
}

#BannerSection #BannerLeft img {
  height: 44px;
  margin: 0 16px;
}

#BannerSection #BannerLeft ul {
  margin-bottom: 80px;
}

#BannerSection #BannerLeft li {
  font-size: 20px;
  margin-bottom: 5px;
}

#BannerSection #BannerLeft li::before {
  content: url(./icons/stylishCheckbox.svg);
  margin-right: 8px;
  vertical-align: middle;
}

#BannerSection #BannerLeft #mainCTAS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

#BannerSection #BannerLeft .disclaimer {
  font-size: 12px;
}

#BannerSection #BannerLeft a {
  width: 250px;
  height: 45px;
  margin-right: 30px;
  line-height: 45px;
}

#BannerSection #BannerRight img {
  width: 100%;
}

#Solutions {
  padding: 70px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

#Solutions #solutionsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 130px;
}

#Solutions .solutionsGridItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px auto;
      grid-template-rows: 30px auto;
}

#Solutions .solutionsGridItem img {
  margin-bottom: 16px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#Solutions .screenDemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
}

#Solutions .screenDemo img {
  width: 55%;
  border-radius: 13px;
  -webkit-box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.1);
}

#Solutions .screenDemo p {
  font-size: 25px;
  width: 30%;
  margin: 0 80px;
}

#Solutions .right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#ThreeSteps {
  padding: 70px 0 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

#ThreeSteps #ThreeStepsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

#ThreeSteps .stepHead {
  margin-bottom: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#ThreeSteps .stepHead p, #ThreeSteps .stepHead h3 {
  display: inline-block;
  color: #0A27F6;
}

#ThreeSteps .stepHead p {
  font-size: 35px;
  margin-right: 6px;
}

#ThreeSteps .stepHead h3 {
  font-size: 20px;
}

#ThreeSteps .stepContent {
  font-size: 20px;
}

#ThreeSteps .pageLink {
  margin: auto;
  width: 330px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  font-weight: normal;
  letter-spacing: 0.2px;
}

#ThreeSteps .pageLink::after {
  position: relative;
  left: 170px;
  content: url(./icons/pointer.svg);
  display: block;
}

#Partenaires {
  padding: 70px 0 100px;
  text-align: center;
}

#Partenaires h2 {
  margin-bottom: 30px;
}

#Partenaires #LogoLaboudiniere {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: boudiniere;
}

#Partenaires #LogoLappart {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lappart;
}

#Partenaires #LogoLibrairieGenerale {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: lg;
}

#Partenaires #LogoVinotheque {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: vino;
}

#Partenaires #LogoCanalPlus {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: canal;
}

#Partenaires #partenairesLogos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (220px)[2];
      grid-template-columns: repeat(2, 220px);
  -ms-grid-rows: (180px)[3];
      grid-template-rows: repeat(3, 180px);
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "boudiniere lappart" "canal lg" "vino vino";
}

#Partenaires #partenairesLogos img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#Partenaires b {
  color: #0A27F6;
  text-decoration: underline;
  margin-left: 10px;
}

#Partenaires a {
  font-size: 22px;
}

#Contact {
  padding: 70px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

#Contact #ContactGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#Contact #ContactGrid #ContactLeft {
  text-align: left;
}

#Contact #ContactGrid #ContactLeft h2 {
  margin-bottom: 12px;
}

#Contact #ContactGrid #ContactLeft p {
  color: #928FAD;
  margin-bottom: 50px;
}

#Contact #ContactGrid form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "fname lname" "phone email" " submit submit";
  grid-gap: auto;
}

#Contact #ContactGrid form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Contact #ContactGrid form input {
  width: 90%;
  height: 35px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #928FAD;
  margin-bottom: 20px;
}

#Contact #ContactGrid form .fname {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fname;
}

#Contact #ContactGrid form .lname {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lname;
}

#Contact #ContactGrid form .phone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: phone;
}

#Contact #ContactGrid form .email {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: email;
  margin-bottom: 28px;
}

#Contact #ContactGrid form .submit {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: submit;
  width: 330px;
  height: 50px;
  margin: auto;
  border-radius: 30px;
  background-color: #26205C;
  color: white;
}

footer {
  padding: 50px 0 0;
  background-color: #26205C;
}

footer * {
  color: white;
}

footer .h3 {
  margin-bottom: 40px;
  font-size: 14px;
}

footer ul {
  margin-bottom: 50px;
}

footer li {
  height: 30px;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.7);
}

footer .links1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: col1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: col2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: col3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: col4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .tribute {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: col5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .tribute #TributeContent {
  text-align: center;
}

footer .tribute #TributeContent p {
  font-size: 12px;
}

footer .tribute #LogoKomesBlanc {
  height: 30px;
  display: inline-block;
  margin-bottom: 30px;
}

footer .tribute #LogoAllmolBlanc {
  height: 18px;
  display: inline;
  margin-left: 5px;
}

footer .socialNetworkLinks {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: bas1;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  padding: 10px 0;
}

footer .socialNetworkLinks img {
  float: left;
  margin-right: 10px;
}

footer .copyright {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
  grid-area: bas2;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  padding: 10px 0;
  text-align: right;
}

footer #footerGrid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "col1 col2 col3 col4 col5 col5" "col1 col2 col3 col4 col5 col5 " "col1 col2 col3 col4 col5 col5 " "col1 col2 col3 col4 col5 col5 " "bas1 bas1 bas1 bas1 bas1 bas2";
}
/*# sourceMappingURL=styles.css.map */